@charset "ISO-8859-1";
table.display {
  font-family: "Arial Black", Gadget, sans-serif;
  border: 1px solid #000000;
  background-color: #EEEEEE;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.display td, table.display th {
  border: 3px solid #AAAAAA;
  padding: 3px 2px;
}
table.display tbody td {
  font-size: 12px;
}
table.display tr:nth-child(even) {
  background: #D0E4F5;
}
table.display thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.display thead th {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}
table.display tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.display tfoot td {
  font-size: 14px;
}
table.display tfoot .links {
  text-align: right;
}
table.display tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}